@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  
}
.b1 {
  background-image: url("assets/103.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
  height: 100px;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #22354d;
}

.nav__logo img {
  display: flex;
  max-width: 100px;
}

.nav__logo span {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #e9c384;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.2rem;
  color: var(--white);
}

.nav__links a:hover {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color:  #22354d;
  background-color: #e9c384;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 5rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
}

.header__image img {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
}

.header__content {
  overflow: hidden;
  text-align: center;
}

.header__content h2 {
  position: relative;
  isolation: isolate;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #e9c384;
  text-align: right;
}

.header__content h2::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 1rem), -50%);
  height: 2px;
  width: 150%;
  background-color: #e9c384;
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--white);
  line-height: 5rem;
}

.h1__span-1 {
  font-size: 4rem;
  color: #e9c384;
}

.h1__span-2 {
  font-size: 2rem;
  font-weight: 400;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--white);
}

.header__content .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #22354d;
  background-color: #e9c384;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__content .btn:hover {
  color: #e9c384;
  background-color: #22354d;
}

.socials {
  padding-block: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.5rem;
  color: #e9c384;
}

.socials a:hover {
  color: #22354d;
}

.header__bar {
  font-size: 0.9rem;
  color: var(--text-light);
}

/* About Section */
section{
  padding: 0% 0%;
  margin-inline: 0;
}
.about-us{
  width: 100%;
  height: 100vh;
  background-image: url("assets/bg\ 2.png");
  background-size: cover;
  background-position: -23px center; 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4rem;
}

.about-image img{
  max-width: 100%;
  width: 560px;
  height: auto;
  border-radius: 4rem;
}
.about-text{
  padding: 6% 0;
}
.about-text h1{
  color: #e9c384;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
hr{
  width: 30%;
  border: none;
  height: 2px;
  background-color: #e9c384;
  margin-bottom: 50px;
}
.about-text p{
  max-width: 600px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 60px;
}
.last-text{
  display: flex;
}
.text1{
  margin-right: 60px;
}
.last-text h3{
  color: #e9c384;
  font-size: 60px;
  font-weight: 700;
}
.last-text h5{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }


  .nav__logo span {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a:hover {
    color: #22354d;
    background-color: #e9c384;
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-block: 2rem;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content {
    text-align: left;
  }

  .socials {
    justify-content: flex-start;
  }
  
}
  @media(max-width:1385px){
    section{
      padding: 4% 4%;
      transition: .3s;
    }
  
 
  .about-image img{
    width: 500px;
    height: auto;
    transition: .3s;
  }
}
  @media(max-width:1240px){
    .text h1{
      font-size: 30px;
      transition: .3s;
    }
  }
  @media(max-width:1040px){
    .about-us{
      grid-template-columns: 1fr;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
    .about-image img{
      padding-top: 40px;
    }
  }


